<%- include("../partical/header", { title: "Admin" }) %>

<h2>Admin Dashboard (MVP)</h2>
<ul>
  <li><a href="/admin/subjects">Quản lý môn học</a></li>
  <li><a href="/admin/questions">Quản lý câu hỏi</a></li>
</ul>

<%- include("../partical/footer") %>



